* {
  box-sizing: border-box;
}

html {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background: black;
}

header {}

main {}

.game-area {
  padding: 10px 0 0;
  margin: 0 auto 50px;
  height: auto;
  width: 330px;
  background: dodgerblue;
}

.game-board {
}

.board {
  margin: 10px auto;
}

#player-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 330px;
  border: 1px solid black;
}

#opponent-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 330px;
  border: 1px solid black;
}

.col-num {
  border: 1px solid gray;
  height: 29.5px;
  width: 29.5px;
  background: rgba(255, 255, 255, 0.2);
}

.row-char {
  border: 1px solid gray;
  height: 29.5px;
  width: 29.5px;
  background: rgba(255, 255, 255, 0.2);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 29.5px;
  width: 29.5px;
  background: rgba(255, 255, 255, 0.2);
}

.marker {
  background: rgba(0, 0, 0, 0.3);
}

footer {
  background: black;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.opponent-tile:hover {
  cursor: pointer;
}

.peg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.white-peg {
  background: white;
}

.red-peg {
  background: red;
}

.highlight-tile {
  border: 3px solid green;
}