* {
  box-sizing: border-box;
}

html {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background: black;
}

header {}

main {}

.game-area {
  padding: 0;
  margin: 0 auto 50px;
  height: auto;
  width: 990px;
  background: dodgerblue;
  display: grid;
  grid-template-columns: 330px 330px 330px;
  border-radius: 5px;
}

.game-board {
}

.board {
  margin: 0 auto;
}

.ship-avatars {
  background: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 50% 50%;
}

.avatars-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 80%;
  justify-content: space-evenly;
}

.ship-avatar {
  margin: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.message-box {
  background: rgba(0, 0, 0, 0.3);
}

.messages {
  text-align: center;
}

#player-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 330px;
  border: 1px solid black;
}

#opponent-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 330px;
  border: 1px solid black;
}

.col-num {
  border: 1px solid gray;
  height: 29.5px;
  width: 29.5px;
  background: rgba(255, 255, 255, 0.2);
}

.row-char {
  border: 1px solid gray;
  height: 29.5px;
  width: 29.5px;
  background: rgba(255, 255, 255, 0.2);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 29.5px;
  width: 29.5px;
  background: rgba(255, 255, 255, 0.2);
}

.marker {
  background: rgba(0, 0, 0, 0.3);
}

footer {
  background: black;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.opponent-tile, 
.btn,
.player-ship-avatar:hover {
  cursor: pointer;
}

.peg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.white-peg {
  background: white;
}

.red-peg {
  background: red;
}

.highlight-tile {
  border: 3px solid green;
}

.change-orientation-btn {

}

.btn {
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

.btn:hover {
  background: white;
  color: dodgerblue;
}