* {
  box-sizing: border-box;
}

html {
  text-align: center;
  margin: 0 auto;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background: black;
}

header {}

main {}

.game-area {
  margin: 0 auto;
  height: 600px;
  width: 600px;
  background: dodgerblue;
}

.game-board {}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}